<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Have a nice dinner">
    <meta name="author" content="Mehmet Ozdemir">

    <title>{% block title %}Main{% endblock %} - ChefCraft</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">ChefCraft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'share_recipe' %}">Share a Recipes <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline mt-2 mt-md-0">
                {% if request.user.is_anonymous %}
                <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Log in</a>
                {% else %}
                <button class="btn btn-dark">({{ request.user.username }})</button> <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0">Log out</a>
                {% endif %}
            </form>
        </div>
    </nav>
</header>

<!-- Page Content -->
{% block container %}
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
            {% block sidebar %}
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Search</h5>
                        <div class="card-body">
                            <form action="{% url 'search_recipe' %}" method="get">
                                <input type="text" class="form-control" name="q" placeholder="ingredients, dish, keyword...">
                            </form>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    {% block ingredients-sidebar %}{% endblock %}

                    <!-- Side Widget -->
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white"> &copy; Mehmet OZDEMIR 2019</p>
    </div>
    <!-- /.container -->
</footer>

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>
